h1 {
	font-family: Balsamiq Sans;
	font-size: 400%;
	text-align: center;
	color: #d8001a;
}

h2 {
	font-family: Indie Flower;
	font-size: 150%;
	text-align: center;
	color: #F75656;
}

h3 {
	font-family: 'Faster One', cursive, sans-serif;
	color: #DC1B1B;
}

h4 {
	font-family: 'Comic Sans MS';
	color: #E8FF00;
}

p {
	font-family: Architects Daughter;
	font-size: 120%;
	text-align: center;
}



.Prise {
	font-family: 'Comic Sans MS';
	color: #E8FF00;
}

.Description {
	font-size: 100%;
	font-family: 'Comic Sans MS';
	color: #E8FF00;
}

#outer{
	width: 50%;
	margin: 0 auto;
}

#Searchbar {
	text-align: center;
}

#Searchbar button {
		color: #000000;
		background-color: #FF3F3F;
		border-color: #000000;
}

.Products-for-sale {
	border: 2px solid black;
	padding: 10px;
	margin: 5px;
	display: block;
	width: 200px;
	background-color: #FF0000;
}


.Products-for-sale .Product-image {
	height: 100%;
	width: 50%;
	float: left;
}

/*sets the size of the product image*/
.Product-image img {
	width: 90%;
	height: 100%;
	max-height: 200px;
}

.clearfix {
	clear: both;
}

.nav-link {
	color: #F33106;
}

