* {
    color: rgb(255,0,0);
    font-family: 'Sansita Swashed', cursive;
}

h1 {
    text-align: center;
}

#searchBar {
    text-align: center;
}

    #searchBar button {
        font-family: 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
    }

nav ul li {
    border: 1px solid red;
    padding: 4px 5px;
    margin: 0 0 5px;
    list-style-type: none;
    text-align: center;
    display: inline;
}

a {
    color: red;
}

nav ul li a {
    text-decoration: none;
}

.nav-pills .nav-link.active {
    background-color: red;
    color: white;
}

.resultsItem {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    display: block;
    width: 100%;
    background-color: rgb(255, 216, 0);
}

    .resultsItem p {
        float: left;
        width: 50%;
    }

    .resultsItem .resultsImg {
        height: 100%;
        width: 50%;
        float: left;
    }

.resultsImg img {
    width: 90%;
    height: 100%;
}

.clearfix {
    clear: both;
}
