  {% extends "layout.html" %}
  {% block content %}
<h2>Welcome to Unibay!</h2>
<h3>This is the {{ page }} page</h3>
<p>Welcome to the Unibay website where you can sell all type of products here from electronics, clothing, furniture, house hold items and more.</p>
<p>This website is created by Timothy</p>
<p>Contacts:</p>
<p>Phone number: 077123299249</p>
<p>Email: Unibayinquiries@unibay.co.uk</p>
  {% endblock %}
