﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" />
    <title>Unibay: {{ page }}</title>
</head>
<body>
    <div>
        <h1>Unibay</h1>
        <div class="container">

            <nav>
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('electronics') }}">Electronics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('clothing') }}">clothing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About us</a>
                    </li>
                </ul>
            </nav>

            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
