<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>Unibay: {{ page_name }}</title>
</head>
<body>
  <!-- the header area -->
  {% block header %}  
  <header>
	<h1>Unibay</h1>
	<h2>Your private online marketplace</h2>
  </header>
  {% endblock %}
	<!-- the search bar area -->
    <div id="searchBar" class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form method="GET" action="#" class="form-inline">
					<div class="form-group w-75">
						<input placeholder="Search" name="Search by keyword" type="text" class="form-control w-100" />
					</div>
					<div class="form-group w-25">
						<button type="submit" class="btn ml-2">Submit</button>
					</div>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
    </div>    
	<!-- the navigation area -->
    <nav>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
				<a class="nav-link" href="{{ url_for('clothes') }}">Clothes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Electronics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Electronics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Miscellaneous</a>
            </li>
        </ul>
    </nav>
	{% block content %}
	<section>
	  <p>Default page content.</p>
	</section>
	{% endblock %}
</body>
</html>
