extends layout

block content
  h1= title
  h2 Clothes for sale
  #results 
    .row 
        each val in data
            .col-md-4
                .resultsItem
                    h3= val.title
        
