/*CSS style for the header tag <h1> */
h1 {
	font-family: Balsamiq Sans;
	font-size: 400%;
	text-align: center;
	color: #d8001a;
}

/*CSS style for the header tag <h2>*/
h2 {
	font-family: Indie Flower;
	font-size: 150%;
	text-align: center;
	color: #F75656;
}

/*CSS style for the header tag <h3>*/
h3 {
	font-family: 'Faster One', cursive, sans-serif;
	color: #DC1B1B;
}

/*CSS style for the header tag <h4>*/
h4 {
	font-family: 'Comic Sans MS';
	color: #E8FF00;
}

/*CSS style for the paragraph tag <p>*/
p {
	font-family: Architects Daughter;
	font-size: 120%;
	text-align: center;
}

/*CSS style for the prise text of the items*/
.Prise {
	font-family: 'Comic Sans MS';
	color: #E8FF00;
}

/*CSS style for the description for the items*/
.Description {
	font-size: 100%;
	font-family: 'Comic Sans MS';
	color: #E8FF00;
}

#outer{
	width: 50%;
	margin: 0 auto;
}

/*sets the position of the search bar*/
#Searchbar {
	text-align: center;
}

	/*CSS style for the button of the search bar*/
#Searchbar button {
		color: #000000;
		background-color: #FF3F3F;
		border-color: #000000;
}

/*CSS style for the product on the site*/
.Products-for-sale {
	border: 2px solid black;
	padding: 10px;
	margin: 5px;
	display: block;
	width: 200px;
	float: left;
	background-color: #FF0000;
}	/*CSS style for the iamge of the products*/
	.Products-for-sale .Product-image {
		height: 100%;
		width: 50%;
		float: left;
	}

/*sets the size of the image on the page*/
.Product-image img {
	width: 90%;
	height: 100%;
}

.clearfix {
	clear: both;
}

/*CSS style for the tabs of the site*/
.nav-link {
	color: #F33106;
}

