{% extends "layout.html" %}

{% block content %}
	<!-- featured items section -->
	<section>
		<h2>Featured items</h2>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<a href="#"><img class="card-img-top" src="{{ url_for('static', filename='images/chelsea-boot.jpg') }}" alt="Chelsea boots"></a>
					<div class="card-body">
						<p class="card-text">Women's black chelsea boots hardly worn!</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<a href="#"><img class="card-img-top" src="{{ url_for('static', filename='images/hoodie.jpg') }}" alt="Black hoodie"></a>
					<div class="card-body">
						<p class="card-text">New black hoodie - size M - organic cotton.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
