<nav>
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('items', cat='clothing') }}">Clothes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('items', cat='electronics') }}">Electronics</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('items', cat='footwear') }}">Footwear</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('items', cat='household') }}">Household</a>
		</li>
	</ul>
</nav>
