{% extends "layout.html" %}

{% block content %}
    <!-- this is the area for the list of items -->
	<div class="row">
		<div class="col-md-12">
			<h2>Showing all {{ page_name }}</h2>
		</div>
	</div>
	<!-- this results container will contain dynamic data! -->
    <div id="results" class="container">
		<!-- DYNAMIC DATA GOES HERE! -->
		{% if data.count() > 0 %}
			{% for obj in data %}
			{% if loop.index == 1 or (loop.index - 1) % 3 == 0 %}
			<div class="row">
			{% endif %}
				<div class="col-md-4">
					<div class="resultsItem">
						<h3>{{ obj.title }}</h3>
						<div class="resultsImg">
							<img src="{{url_for('static', filename=obj.img_url)}}">
						</div>
						<p>{{ obj.description }}</p>
						<br class="clearfix">
					</div>
				</div>
			{% if loop.index % 3 == 0 %}
			</div>
			{% endif %}
			{% endfor %}
		{% else %}
			<div class="row">
				<div class="col-md-12">
					<p>No results matching your search.</p>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
