{% extends "layout.html" %}

{% block content %}

<section>
    <!--heading-->
    <h2>Checkout</h2>

    <div id="searchBar" class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <!--Billing Address info-->
                <h3>1.Billing Address</h3>
                <p>add a new billing address</p>

                <form method="GET" action="#" class="form-inline">

                    <!--Country text box-->
                    <label><b>Country</b></label>
                    <input placeholder="United Kingdom" name="country" type="text" class="form-control w-100" />

                    <!--Full name text box-->
                    <label><b>Full Name</b></label>
                    <input placeholder="Enter First and Last name" name="FLname" type="text" class="form-control w-100" />

                    <!--address text box-->
                    <label><b>Address Line One</b></label>
                    <input placeholder="Enter Address" name="addsress" type="text" class="form-control w-100" />

                    <!--address text box-->
                    <label><b>Address Line Two</b></label>
                    <input placeholder="Enter Address" name="address" type="text" class="form-control w-100" />

                    <!--post town text box-->
                    <label><b>Post Town</b></label>
                    <input placeholder="Enter Post Town" name="post town" type="text" class="form-control w-100" />

                    <!--post code text box-->
                    <label><b>Post Code</b></label>
                    <input placeholder="Enter Post Code" name="post code" type="text" class="form-control w-100" />

                    <!--phone number text box-->
                    <label><b>Phone Number</b></label>
                    <input placeholder="(0) Enter Phone Number" name="phone number" type="text" class="form-control w-100" />

                    <!--Check box for keeping the same address to bill-->
                    <label><input type="checkbox" name="remember">Use address for billing on further purchases</label>
                </form>

                <!--Billing Address submit button-->
                <p><button type="submit" class="btn ml-2">Bill to this address</button></p>

                <!--Payment Method info-->
                <h3>2.Payment Method</h3>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Please add or select a shipping address to procceed.</p>
                    </div>
                </div>
                <p>add a gift card or VIP code-</p>

                <!--Review of purchasing products layout-->
                <h3>3.Review Item</h3>
                <div class="resultsItem">
                    <h3>Bet Slip</h3>
                    <div class="resultsImg">
                        <img src="{{ url_for('static', filename='images/football.png') }}" alt="football">
                    </div>
                    <p><b>Liverpool-</b>Match Results</p>
                    <p>Stake: &#163 ________</p>
                    <p>Odds: ________</p>
                    <p>Est. Returns: &#163 ________</p>
                    <p>Total Stake: &#163 ________</p>
                    <p>Total Est. Returns: &#163 ________</p>
                    <br class="clearfix">
                </div>

                <!--total order of products-->
                <p>Order Total:  &#163 ____________</p>

                <!--condition agreement-->
                <p>By placing your order, you agree to Bet888's terms and conditions.</p>

                <!--submit order button-->
                <a class="nav-button" href="#">Place Your Bet</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}