﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <!--already set up framework from bootstrap integrated for the web page -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--style sheet for the text styles of the website from google-->
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">

    <!--retrives the custom style sheet from the static files and css file-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

    <!--Title of the web page-->
    <title>Bet888: {{ page_name }}</title>
</head>
<body>

    <!--the header area-->
    {% block header %}
    <header>
        <h1>Bet8888</h1>
    </header>
    {% endblock %}

    <!--the top navigation bar area-->
    <nav1>
        <ul1 class="nav-pills">
            <li1 class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
            </li1>
        </ul1>
    </nav1>

    <nav2>
        <ul2 class="nav-pills">
            <li2 class="nav-item">
                <a class="nav-link" href="{{ url_for('registration') }}">Registration</a>
            </li2>
        </ul2>
    </nav2>

    <nav3>
        <ul3 class="nav-pills">
            <li3 class="nav-item">
                <a class="nav-link" href="{{ url_for('checkout') }}">Checkout</a>
            </li3>
        </ul3>
    </nav3>

    <!-- the search bar area -->
    <div id="searchBar" class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="GET" action="#" class="form-inline">
                    <div class="form-group w-75">
                        <input placeholder="Search" name="Search by keyword" type="text" class="form-control w-100" />
                    </div>
                    <div class="form-group w-25">
                        <button type="submit" class="btn ml-2">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <!-- the navigation area -->
    <nav>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('v_sports') }}">Virtual Sports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Racing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Jackpots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Poker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Casino</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Slots</a>
            </li>
        </ul>
    </nav>

    {% block content %}

    <section>
        <p>Default page content.</p>
    </section>

    {% endblock %}

</body>
</html>
