/* generic styles */

body {
    background: rgb(141, 140, 140);
}

* {
    color: rgb(0,0,0);
    font-family: 'Noto Sans';
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    font-family: 'Noto Sans';
    font-weight: bold;
    margin: 0.5em 0;
}

a {
    color: black;
}

b {
    font-size: 20px;
}

h3, p {
    text-align: left;
}

/* custom search bar styles */

#searchBar {
    text-align: center;
}

    #searchBar button {
        font-family: 'Arial Narrow', Arial, sans-serif;
        border: 4px solid rgb(58, 58, 58);
        font-weight: bold;
        background-color: yellow;
        text-transform: uppercase;
    }


/* custom navbar styles */

nav {
    margin-top: 1em;
}

    nav ul li {
        border: 4px solid rgb(58, 58, 58);
        margin: 0 0 5px;
        list-style-type: none;
        text-align: center;
        display: inline;
    }

        nav ul li a {
            text-decoration: none;
        }

.nav-pills .nav-link {
    border-radius: 0;
}

    .nav-pills .nav-link:hover {
        background-color: black;
        color: white;
    }

nav1 ul1 li1 {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    border: 4px solid rgb(58, 58, 58);
    margin: 0 0 5px;
    list-style-type: none;
    text-align: center;
    display: inline; 
}

nav2 ul2 li2 {
    position: absolute;
    top: 8px;
    right: 100px;
    font-size: 18px;
    border: 4px solid rgb(58, 58, 58);
    margin: 0 0 5px;
    list-style-type: none;
    text-align: center;
    display: inline;
}

nav3 ul3 li3 {
    position: absolute;
    top: 8px;
    right: 230px;
    font-size: 18px;
    border: 4px solid rgb(58, 58, 58);
    margin: 0 0 5px;
    list-style-type: none;
    text-align: center;
    display: inline;
}

.container {
    padding: 16px;
}

.nav-button {
    border: 4px solid rgb(58, 58, 58);
    margin: 0 0 5px;
    list-style-type: none;
    text-align: center;
    background-color: rgb(141, 140, 140);
    display: inline-block;
    font-size: 16px;
    padding: 14px 16px;
}

.nav-button:hover {
    background-color: black;
    color: white;
}

    /* custome image */

img {
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 1em;
}

    /* styles for the review products of the checkout page */

.resultsItem {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    display: block;
    width: 100%;
    background-color: rgb(89, 89, 89);
}

    .resultsItem p {
        float: left;
        width: 50%;
    }

    .resultsItem .resultsImg {
        height: 100%;
        width: 50%;
        float: left;
    }

.resultsImg img {
    width: 80%;
    height: 80%;
    max-height: 200px;
}

.clearfix {
    clear: both;
}


    /*styles form the featured games content thead home page*/

.resultsItem1 {
    border: 2px solid black;
    padding: 10px;
    margin: 4px;
    display: block;
    width: 100%;
    background-color: rgb(106, 102, 102);
}

.img-container {
    float: left;
    width: 20%;
    padding: 4px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.img-size {
  width:60%; 
  height:60%;
}

