﻿/* generic styles */

* {
    color: rgb(255,0,0);
    font-family: 'Sansita Swashed', cursive;
}

h1, h2 {
    text-align: center;
	margin: 0.5em 0;
}

a {
    color: red;
}

a:hover {
	color: white;
}


/* custom search bar styles */

#searchBar {
	text-align: center;
}

#searchBar button {
    font-family: 'Arial Narrow', Arial, sans-serif;
	border: 1px solid red;
	font-weight: bold;
	background-color: yellow;
    text-transform: uppercase;
}

/* custom navbar styles */

nav {
	margin-top: 1em;
}

nav ul li {
    border: 1px solid red;
    margin: 0 0 5px;
    list-style-type: none;
    text-align: center;
    display: inline;
}
nav ul li a {
    text-decoration: none;
}

.nav-pills .nav-link {
	border-radius: 0;
}

.nav-pills .nav-link:hover {
	background-color: yellow;
	color: red;
}

.nav-pills .nav-link.active {
    background-color: red;
    color: white;
}

/* styles for the home page (featured items section) */

.card {
	background-color: yellow;
	border: 1px solid red;
}

.card .card-img-top {
	max-height: 300px;
}

/* styles for the results page */

.resultsItem {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    display:block;
    width: 100%;
    background-color: rgb(255, 216, 0);
}

.resultsItem p {
    float: left;
    width: 50%;
}

.resultsItem .resultsImg {
    height: 100%;
    width: 50%;
    float: left;
}

.resultsImg img {
    width: 90%;
    height: 100%;
	max-height: 200px;
}

.clearfix {
    clear: both;
}

/* styles for item full details page */

#fullDetails p {
	padding: 0 1em;
	margin-top: 1em;
}

#offerBox {
	padding: 1em;
	margin: 1em;
	background-color: yellow;
}

button#offerBtn {
	background-color: red;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

/* styles for gallery */

#gallery img {
	width: 100%;
}

#gallery #mainImg img {
	max-height: 500px;
}

#gallery #thumbContainer img {
	height: 100px;
	border: 1px solid red;
}

#gallery #thumbContainer img.selected {
	border: 2px solid yellow;
}
